.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 140px;
  padding: 10px;
  color: white;
}

.App-footer {
  clear: both;
  background-color: #222;
  height: auto;
  width:100%;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.box {
  width: 20%;
  height: auto;
  margin: 20px;
  background-color: #F3F3F3;
  float: left;
}

.box ul {
  margin: 10%;
  padding: 0;
  width: 80%;
  background-color: #F3F3F3;
}

.box li {
  list-style: none;
  padding: 15px;
  border: 1px solid #EFEFEF;
  background-color: #fdf7ef;
  display: block;
}

.SortableList {
    position: relative;
    z-index: 0;
    background-color: #F3F3F3;
    border: 1px solid #EFEFEF;
    border-radius: 3px;
    outline: none;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border: 1px solid #E0E0E0;
    list-style: none;
    padding: 0;
}

.SortableItem {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px;
    background-color: #FFF;
    border-bottom: 1px solid #EFEFEF;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #333;
    font-weight: 500;
}

.SortableHelper {
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2), 0 -5px 5px -5px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.8);
    cursor: row-resize;
}

.whoBox {
  width: 40%;
  height: auto;
  margin: 20px;
  background-color: #F3F3F3;
  float: left;
}

.whoInnerBox {
    position: relative;
}

.whoInnerBox ul {
  padding: 0;
  margin: 5%;
  width: 40%;
  background-color: #F3F3F3;
}
.whoInnerBox li {
  list-style: none;
  padding: 15px;
  border: 1px solid #EFEFEF;
  background-color: #fdf7ef;
  color: #333;
  display: block;
}

.whotip {
  display: inline-block;
  position: absolute;
  left: 40%;
  top: 0;
  z-index: 3;
  border-radius: 5px;
  font-size: 60%;
  padding: 2%;
  margin-left: 2%;
  margin-top: 2%;
}

.whohometip {
  background-color: white;
  color: blue;
}

.whoawaytip {
  background-color: white;
  color: purple;
}

.inputBox{
  width: 80%;
  margin: 10%;
  background-color: white;
  color: #333;
}

.testbox {
  width: 20%;
  height: auto;
  margin: 20px;
  background-color: #F3F3F3;
  float: right;

}
